* {
    font-family: sans-serif;
}

.food-title {
    text-align: center;
}

.food-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.return-home {
    display: block;
    text-align: center;
}